nav.navbar.navbar-default.navbar-static-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/v1/index") Lähimatkailu
        ul.nav.navbar-nav
            for item, path in nav
                if current == path
                    li.nav-item.active
                        a.nav-link(href="/v1/" + path)=item
                else
                    li.nav-item
                        a.nav-link(href="/v1/" + path)=item
        ul.nav.navbar-nav.navbar-right
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') #{ __('Language')} 
                    b.caret
                ul.dropdown-menu
                    li
                        a(href='/v1/lang/en?return=' + current) English
                    li
                        a(href='/v1/lang/fi?return=' + current) suomi
                    li
                        a(href='/v1/lang/sv?return=' + current) svenska
