include ../node_modules/pug-bootstrap/_bootstrap.pug
doctype html
html(lang='fi')
head
    title= title
body
    h1 List of all places
    br
each val in list
    li
        = val
        a(href="modify/{id}")
            button(type="button") MODIFY
        a(href="delete/{id}")
            button(type="button") DELETE