doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/nav.pug

        .modal#deleteModal(tabindex="-1" role="dialog")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title Delete
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") ×
                    .modal-body
                        p Are you sure you want to delete
                            span.destinationName
                    .modal-footer
                        button.btn.btn-danger.deleteConfirm(type="button") Delete
                        button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel

        .container(style="margin-top:-15px; margin-bottom:50px")
            h2= title
            table.table.table-striped.table-bordered
                thead
                    tr
                        th #
                        th Name
                        th Address
                        th City
                        th Type
                        th Modify
                        th Delete
        script(src="/js/list.js")
        script(src="/js/delete.js")
