

block content
    h1= title
    form#formAddUser(name="add",method="post",action="/v1/add")
        input#inputType(type="text", placeholder="type", name="type")
        input#inputCity(type="text", placeholder="city", name="city")
        input#inputPostalCode(type="text", placeholder="postalCode", name="postalCode")
        input#inputStreet(type="text", placeholder="street", name="street")
        input#inputPhoneNumber(type="text", placeholder="phoneNumber", name="phoneNumber")
        input#inputPicture(type="text", placeholder="picture", name="picture")
        input#inputLatitude(type="text", placeholder="latitude", name="latitude")
        input#inputLongtitude(type="text", placeholder="longtitude", name="longtitude")
        input#inputInfo(type="text", placeholder="info", name="info")
        input#inputDirections(type="text", placeholder="directions", name="directions")
        input#inputStart(type="text", placeholder="opening hours start", name="start")
        input#inputEnd(type="text", placeholder="opening hours end", name="end")
        button#btnSubmit(type="submit") submit
