include ../node_modules/pug-bootstrap/_bootstrap.pug
doctype html
html(lang='fi')
    head
        title= title
    body
        .container
            h2= title
            form#formAddUser(style="width:500px", name="add",method="post",action="/v1/add")
                h4 Perustiedot
                input.form-control(required="", type="text", placeholder="Nimi", name="name")
                select.form-control(required="" name="type")
                    option(selected="" disabled="" value="Tyyppi") Tyyppi
                    option(value="Food") Ruoka
                    option(value="Service") Palvelu
                    option(value="Sight") Nähtävyys
                h4 Sijainti
                input.form-control(required="", type="text", placeholder="Osoite", name="street")
                input.form-control(required="", type="text", placeholder="Postinumero", name="postalCode")
                input.form-control(required="", type="text", placeholder="Kaupunki", name="city")
                input.form-control(type="tel", placeholder="Puhelinnumero", name="phoneNumber")
                h4 Koordinaatit
                input.form-control(required="", type="text", placeholder="Leveysaste (latitude)", name="latitude")
                input.form-control(required="", type="text", placeholder="Pituusaste (longitude)", name="longitude")
                h4 Kuva
                input.form-control(type="text", placeholder="http://esimerkki.com/kuva.jpg", name="picture")
                h4 Muuta tietoa
                textarea.form-control(style="resize:vertical", type="text", placeholder="Yleistä tietoa kohteesta", name="info")
                h4 Ikoni
                input.form-control(type="text", placeholder="", name="icon")
                h4 Aukioloajat
                label Maanantai
                div.input-group
                    input.form-control(type="text", placeholder="10:00", name="monStart")
                    span.input-group-addon -
                    input.form-control(type="text", placeholder="20:00", name="monEnd")
                label Tiistai
                div.input-group
                    input.form-control(type="text", placeholder="10:00", name="tueStart")
                    span.input-group-addon -
                    input.form-control(type="text", placeholder="20:00", name="tueEnd")
                label Keskiviikko
                div.input-group
                    input.form-control(type="text", placeholder="10:00", name="wedStart")
                    span.input-group-addon -
                    input.form-control(type="text", placeholder="20:00", name="wedEnd")
                label Torstai
                div.input-group
                    input.form-control(type="text", placeholder="10:00", name="thuStart")
                    span.input-group-addon -
                    input.form-control(type="text", placeholder="20:00", name="thuEnd")
                label Perjantai
                div.input-group
                    input.form-control(type="text", placeholder="10:00", name="friStart")
                    span.input-group-addon -
                    input.form-control(type="text", placeholder="20:00", name="friEnd")
                label Lauantai
                div.input-group
                    input.form-control(type="text", placeholder="10:00", name="satStart")
                    span.input-group-addon -
                    input.form-control(type="text", placeholder="20:00", name="satEnd")
                label Sunnuntai
                div.input-group
                    input.form-control(type="text", placeholder="10:00", name="sunStart")
                    span.input-group-addon -
                    input.form-control(type="text", placeholder="20:00", name="sunEnd")
                br
                button.form-control.btn.btn-success(type="submit") Lähetä
                br
                br
